{% extends 'base.html' %}

{% block title %}
    Apartment
{% endblock title %}


{% block body %}

<div>
        {% for image in object.images.all %}
            <img src="{{object.images.first.image.url}}" alt="apartment image" width="400" height="300">
        {% endfor %}
        <h3>
            {{object.title}}
        </h3>

    <p>
        {{object.description}}
    </p>
    <p>
        price:
        {{object.price}}
    </p>
    <p>
        address:
        {{object.street}} street {{object.home}} apt# {{object.apartment}}
    </p>
    <br/><br/>
    <p>
        owner:
        <a href="{% url 'profile-detail' object.owner.user_extension.pk %}">
            {{object.owner.user_extension.user.get_full_name}}
        </a>
    </p>

    <p>
        <a href="{% url 'seller:apartment-list' %}?pk={{object.owner.pk}}">
            get owner's apartments
        </a>
    </p>
    <p>
        <br/>
        <a href="{% url 'seller:update-apartment' %}?pk={{object.pk}}">
            update apartment
        </a>
    </p>
</div>

<form method="post" action="{% url 'complaint' %}">
    {% csrf_token %}
    <input type="hidden" name="owner-user-id" value="{{object.owner.user_extension.user.pk}}">
    <input type="hidden" name="apartment-id" value="{{object.pk}}">
    <input type="submit" name="redirecting" value="complain">
</form>

{% endblock body %}

