{% extends 'base.html' %}

{% block title %}
    Personal account
{% endblock title %}


{% block body %}

<h2>
    {{object.user.get_full_name}}'s account
</h2>
<img src="{{object.image.url}}" alt="Account image" width="200" height="250">
<p>
    Username: {{object.user.username}}
</p>
<p>
    Email: {{object.user.email}}
</p>
<p>
    City from: {{object.get_city_display}}
</p>
<p>
    <a href="{% url 'seller:apartment-list' %}?pk={{object.owner.pk}}">
        get owner's apartments
    </a>
</p>
<p>
    <a href="{% url 'update-personal' %}">
        Change personal info
    </a>
</p>
<p>
    <a href="{% url 'seller:register-apartment' %}">
        register your apartment
    </a>
</p>

{% endblock body %}