{% extends 'base.html' %}

{% block title %}
    Update personal info
{% endblock title %}

{% block body %}

    <div
        class="flex justify-center pt-3 text-gray-800"
    >
        <form method="post" enctype="multipart/form-data"
            class="w-1/2 max-w-md flex flex-col items-center px-6
            bg-purple-300
            p-3
            rounded-lg
            border-2
            border-black
            "
        >
        {% csrf_token %}
        <img src="{{ request.user.user_extension.image.url }}" width="300" height="200"/>
            <div class="flex flex-row justify-between w-full my-2 p-2">
                <div class="inline-block">
                    Name: 
                </div>
                <div class="inline-block">
                    {{request.user.get_full_name}}
                </div>
            </div>

            <div class="flex flex-row justify-between w-full my-2 p-2">
                <div class="inline-block">
                    Username:
                </div>
                <div class="inline-block">
                    {{request.user.username}}
                </div>
            </div>


            <div class="flex flex-row justify-between w-full my-2 p-2
                        border-b-2
                        border-black
                        ">
                <div class="inline-block">
                    Email:
                </div>
                <div class="inline-block">
                    {{request.user.email}}
                </div>
            </div>

            <div class="py-4 flex flex-col justify-between w-full my-2 p-2">
                {% load tailwind_filters %}
                {{form | crispy}}
                {{formExtension | crispy}}
            </div>

            <div class="w-full text-center">
                <input
                    type="submit" value="update"
                    class="
                        border-b-2
                        border-black
                        bg-purple-300
                        inline-block
                        w-full
                        hover:bg-purple-900
                        hover:text-gray-200
                        p-2
                    "
                />
            </div>

            <div class="w-full text-center">
                <a class="
                    inline-block
                    w-full
                    hover:bg-purple-900
                    hover:text-gray-200
                    p-2
                "
                    href="{% url 'update-username' %}">
                    update user credentials
                </a>
            </div>

            <div class="w-full text-center">
                <a class="
                    inline-block
                    w-full
                    hover:bg-purple-900
                    hover:text-gray-200
                    p-2
                "
                    href="{% url 'profile-detail' request.user.user_extension.pk %}">
                    get back
                </a>
            </div>
        </form>
    </div>

{% endblock body %}