<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <style>
        html {
            height: 100%;
        }
        body {
            margin:0;
            padding:0;
            min-height:100%;
            position: relative;
        }
        #body {
            padding-bottom: 60px;
        }
        #footer {
            position:absolute;
            bottom:0;
            padding: 7px;
            width:100%;
            text-align: center;
        }
    </style>
</head>

<body class="bg-gray-200">
<div id="body">
    {% include 'navbar.html' %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                {{message}} <br/>
            {% elif message.tags == "error" %}
                error: -> {{message}} <br/>
            {% else %}
                message is not success/error: {{message.tags}}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% block message %}
    {% endblock message %}

    {% block body %}
    {% endblock body %}
</div>

<div id="footer" class="bg-blue-400 text-pink-200">
    &copy; Develop with aybjax
</div>
</body>
</html>