<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>

<body>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                {{message}} <br/>
            {% elif message.tags == "error" %}
                error: -> {{message}} <br/>
            {% else %}
                message is not success/error: {{message.tags}}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% block message %}
    {% endblock message %}

    {% block body %}
    {% endblock body %}
</body>
</html>