<ul class="flex mx-2 mt-0 bg-blue-400 rounded-lg">
    <li>
        <a class="py-3 px-3 rounded-l-lg text-gray-900 hover:bg-purple-700 hover:text-white inline-block" href="{% url 'seller:apartment-list' %}">
            all apartment
        </a>
    </li>


    {% if request.user.is_authenticated %}
        <li>
            <a class="py-3 px-3 text-gray-900 hover:bg-purple-700 hover:text-white inline-block" href="{% url 'seller:apartment-list' %}?pk={{request.user.user_extension.seller.pk}}">
                my apartment
            </a>
        </li>
    {% endif %}

    <div class="ml-auto mr-auto"></div>

    {% if request.user.is_authenticated and request.user.user_extension %}
        <li>
            <a class="py-3 px-3 text-gray-900 hover:bg-purple-700 hover:text-white inline-block" href="{% url 'profile-detail' request.user.user_extension.pk %}">
                my profile
            </a>
        </li>
    {% endif %}

    {% if request.user.is_authenticated %}
        <li>
            <a class="py-3 px-3 rounded-l-lg text-gray-900 hover:bg-purple-700 hover:text-white inline-block" href="{% url 'logout' %}">
                logout
            </a>
        </li>


    {% else %}
        <li>
            <a class="py-3 px-3 text-gray-900 hover:bg-purple-700 hover:text-white inline-block" href="{% url 'login' %}">
                login
            </a>
        </li>


        <li>
            <a class="py-3 px-3 rounded-r-lg text-gray-900 hover:bg-purple-700 hover:text-white inline-block" href="{% url 'register' %}">
                register
            </a>
        </li>

    {% endif %}
</ul>